.container {
    max-width: 1300px;
    background: rgb(245, 245, 245);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-self: center;

    .laranja {
        background: orange;
        flex: 1 1 500px;
    }

}

