.boxes {
    flex: 1 1 500px;
    display: flex;
    flex-wrap: wrap;

    h2 {
        color: $color-primary;
        margin: 20px;
        flex-basis: 100%;
        @extend %text-large;
    }

    label {
        font-size: 14px;
        @extend %text-small-bold;
        color: $color-text-primary;
    }

    .qnt {
        flex: 1 1 100%;
        max-height: 17px;
        margin: 20px 20px 75px 20px;
        outline: 0;
        border-radius: 8px;
        border: 1px solid $color-text-primary;
        padding: 10px 10px;
        color: $color-text-primary;
        flex: 1 1 100%;
        @extend %text-small;
    }
    
}