%text-small {
    font: 0.8em 'Roboto', Helvetica, Arial, sans-serif;
}
%text-small-bold {
    font: bold 0.8em 'Roboto', Helvetica, Arial, sans-serif;
}
%text-medium {
    font: 1.05em 'Roboto', Helvetica, Arial, sans-serif;
} 

%text-large {
    font: bold 1.75em 'Roboto', Helvetica, Arial, sans-serif;
}
