//main colors
$color-primary: #1a237a;
$color-primary-light: #2433bb;
$color-background: #FFF;
$color-background-light: #f5f5f5;
//text colors
$color-text-primary:#9c9c9c;
$color-text-light:#e2e2e2;
$color-text-white: #FFF;
